/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {background-image: url(../foto/other/1P1070302.jpg);
    background-size: cover; }
* {margin: 0;}
#audio { 
    margin: 5px;
    opacity:0.3;
    top: 0;
  left: 0;
}
#audio:hover {
    
    display: block;
    opacity:0.5;
    }
.foto {
    text-align:center;
}
h1, h2 {
    margin: 5px;
    font-size: 25px;
    text-align:center;
    font-family: cursive;
   }
h2>a {
      text-decoration: none;
}
h2>a:hover{
     background: rgba(153, 150, 242, 0.68);
    text-decoration: underline;
}

#page {
    width: 95%;
    margin: 0 auto;
}
#box {
    height: 40px;
    position: relative;
}
#box div {
    position: absolute;
    font-family: cursive;
    margin-left: 10px;
    float: left;
}
#box div li {
    height: 40px;
}
#audio {
    left: 37%;
}
.clear {
    clear: both;
}
#bio {
      right: 0;
      position: relative;
    width: 150px;
}
#box div a {
    font-size: 30px ;
    color: blueviolet;
   font-family: 'Baloo Chettan' ;
    text-decoration: none;
   }
.links {font-family: 'Baloo Chettan', cursive;
    Color: #5a53b1;
}
#box div a:hover {
    background: rgba(153, 150, 242, 0.68);
    text-decoration: underline;
}
#contact {
    opacity: 0.7;
    width: 170px;
    height: 30px;
   transform: rotate(-90deg);
    position: fixed;
      bottom: 100px;
  right: -70px;
    font-family: 'Baloo Chettan' ;
    font-size: 30px ;
}
#contact li:last-child {
       background: rgba(174, 149, 135, 0.77);
;
}
#contact:hover{
     bottom: 200px;
    margin: 1px;
   opacity: 1;
    right: 0;
    width: 200px;
    transform: rotate(0deg);
    background: rgba(174, 149, 135, 0.77);
}
.vypad {
    position: relative;
    width: 370px;
    height: 100%;
   }
#contacts .vypad{
      top: 100%;
    display: none;
    background: rgba(138, 131, 195, 0.94);
   }
#contacts .vypad{
    height: 40px;
   }
#contacts:hover .vypad{
    display: block;
}
#first a {
    width: 100px;
}



















